<!-- /* //Assignment: Assignment 2 Express Portfolio – Authentication 
// Laura Amangeldiyeva - student id: 301167661 
// Date: 2022/02/15 */ -->

<!--to add header-->
<%- include partials/header.ejs %>
<!--to add main nav-->
<%- include partials/main_nav.ejs %>

<div class="container">
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
</div>

<!--to add bottom nav-->
<%- include partials/bottom_nav.ejs %>
<!--to add footer-->
<%- include partials/footer.ejs %>