<!-- /* //Assignment: Assignment 2 Express Portfolio – Authentication 
// Laura Amangeldiyeva - student id: 301167661 
// Date: 2022/02/15 */ -->

<!--to add header-->
 <%- include partials/header.ejs%>
 <!--to add main nav-->
  <%- include partials/main_nav.ejs%>

  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4" style="color: #cbcc8a;">Welcome to the <%= title %> page</h1><br>

      <% if (title=="Home" || title == "/"){ %>
       <%-include partials/home_page.ejs %>
       <% } else if(title=="About Me"){ %>
      <%-include partials/about_page.ejs %>
      <%} else if (title=="Services"){ %>
       <%-include partials/service_page.ejs %>
       <%} else if(title=="Projects"){ %>
       <%-include partials/projects_page.ejs %>
      <%} %>

 
</div>
 </main>
   
<!--to add bottom nav-->
 <%- include partials/bottom_nav.ejs%>
 <!--to add footer-->
  <%- include partials/footer.ejs%>
 

 
